<h1>Editing Descricao Despesa Receita</h1>

<%= render 'form', descricao_despesa_receita: @descricao_despesa_receita %>

<%= link_to 'Show', @descricao_despesa_receita %> |
<%= link_to 'Back', descricao_despesa_receitum_path %>
