<div class="col-lg-12">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">Receitas</strong>
      </div>
      <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Jan.</th>
                <th scope="col">Fev.</th>
                <th scope="col">Mar.</th>
                <th scope="col">Abr.</th>
                <th scope="col">Mai.</th>
                <th scope="col">Jun.</th>
                <th scope="col">Julo</th>
                <th scope="col">Ago.</th>
                <th scope="col">Set.</th>
                <th scope="col">Out.</th>
                <th scope="col">Nov.</th>
                <th scope="col">Dez.</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cotas em atraso</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>78</td>
              </tr>
              <tr>
                <th>Total</th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>78</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>