<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @descricao.descricao %>
</p>

<%= link_to 'Edit', edit_descricao_path(@descricao) %> |
<%= link_to 'Back', descricaos_path %>
